#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_shlibdeps:
	dpkg-shlibdeps -Tdebian/vscpl1drv-socketcan.substvars $$(pwd)/debian/vscpl1drv-socketcan/var/lib/vscp/drivers/level1/vscpl1drv-socketcan.so.%MAJOR-VERSION.%MINOR-VERSION.%RELEASE-VERSION


override_dh_auto_install:
	strip linux/vscpl1drv-socketcan.so.%MAJOR-VERSION.%MINOR-VERSION.%RELEASE-VERSION

